h4{
    text-align: center;
}
#header{
    background-color: tomato;
}
.board{
    width: 240px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
}
.square{
    height: 80px;
    text-align: center;
    border: 0.1px dotted lightslategray;
    line-height: 80px;
    font-size: 1.5rem;
}